<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="HTTPS-Anon">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="HTTP-Anon">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="https://mail.univ.net.ua/plutoniy/Service1.svc" binding="wsHttpBinding"
                bindingConfiguration="HTTPS-Anon" contract="ServiceReference1.IService1"
                name="HTTPS-Anon">
                <identity>
                    <dns value="mail.univ.net.ua" />
                </identity>
            </endpoint>-->
            <endpoint address="http://mail.univ.net.ua/plutoniy/Service1.svc" binding="wsHttpBinding"
                bindingConfiguration="HTTP-Anon" contract="ServiceReference1.IService1"
                name="HTTP-Anon">
                <identity>
                    <dns value="mail.univ.net.ua" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>