<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Task7.Properties.Settings.TestDatabesConnectionString"
            connectionString="Data Source=DESKTOP-KU8SGT9\SQLEXPRESS;Initial Catalog=TestDatabes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Task7.Properties.Settings.TestDatabesConnectionString1"
            connectionString="Data Source=DESKTOP-5582JAK\SQLEXPRESS;Initial Catalog=TestDatabes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>